<!DOCTYPE html>
<html>
<head>
<!-- Basic -->
<meta charset="utf-8">
<title>404 Error</title>
<meta name="keywords" content="Online Shopping" />
<meta name="description" content="DBMS Course project">
<meta name="author" content="etheme.com">
<link rel="shortcut icon" href="/../images/favicon.ico">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
<!-- Icon Fonts  -->
<link rel="stylesheet" href="/../font/style.css">
<!-- /../Vendor CSS -->
<link rel="stylesheet" href="/../vendor/waves/waves.css">
<link rel="stylesheet" href="/../vendor/slick/slick.css">
<link rel="stylesheet" href="/../vendor/slick/slick-theme.css">
<link rel="stylesheet" href="/../vendor/bootstrap-select/bootstrap-select.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/../css/style.css">
<link rel="stylesheet" href="/../css/style-colors.css">
<!-- Custom Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

<!-- Head Libs -->

<!--[if IE]>
        <link rel="stylesheet" href="css/ie.css">
        <![endif]-->
<!--[if lte IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->

<!-- Modernizr -->
<script src="/../vendor/modernizr/modernizr.js"></script>
</head>

<body>
  <div id="loader-wrapper" class="loader-off">
    <div id="loader"></div>
  </div>

  <div class="wrapper">
    <!-- Header section -->

    <div id="pageContent">

      <!-- Breadcrumb section -->

      <section class="breadcrumbs  hidden-xs">
        <div class="container">
          <ol class="breadcrumb breadcrumb--wd pull-left">
            <li><a href="#">Home</a></li>
            <li class="active">404</li>
          </ol>
        </div>
      </section>

      <!-- Content section -->
      <section class="content">
        <div class="container">
  			<div class="not-found-box">
  				<div class="not-found-box__image">
  					<img src="/../images/page-404.png" alt="">
  					<div class="not-found-box__text">
  						<h2 class="text-left">404 ERROR. <br>PAGE NOT FOUND :(</h2>
  						<h4 class="text-left">You can start from the home page or come back to the previous page</h4>
  					</div>
  				</div>
  			</div>
        </div>
      </section>
      <!-- End Content section -->
    </div>
  </div>
<!-- Vendor -->
<!-- jQuery 1.10.1-->
<script src="/../vendor/jquery/jquery.js"></script>
<!-- Bootstrap 3-->
<script src="/../vendor/bootstrap/bootstrap.min.js"></script>
<!-- Specific Page Vendor -->
<script src="/../vendor/waves/waves.min.js"></script>
<script src="/../vendor/slick/slick.min.js"></script>
<script src="/../vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/../vendor/parallax/jquery.parallax-1.1.3.js"></script>
<script src="/../vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/../vendor/waypoints/sticky.min.js"></script>
<script src="/../vendor/doubletaptogo/doubletaptogo.js"></script>
<script src="/../vendor/elevatezoom/jquery.elevatezoom.js"></script>
<script src="/../vendor/imagesloaded/imagesloaded.pkgd.min.js"></script><script src="/../vendor/countdown/jquery.plugin.min.js"></script>
<script src="/../vendor/countdown/jquery.countdown.min.js"></script>
<!-- jQuery form validation -->
<script src="/../vendor/form/jquery.form.js"></script>
<script src="/../vendor/form/jquery.validate.min.js"></script>
<!-- Custom -->
<script src="/../js/custom.js"></script>
</body>
</html>
